[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
shapely = "*"
utm = "*"
gtfstk = "*"
pytest = "*"
twine = "*"
sphinx = "*"
pandas = "*"
"e1839a8" = {path = ".", editable = true}
descartes = "*"
matplotlib = "*"
geopandas = "*"
folium = "*"

[requires]
python_version = "3.5"
