[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyter = "*"
shapely = "*"
utm = "*"
gtfstk = "*"
pytest = "*"
twine = "*"
sphinx = "*"

[requires]
python_version = "3.5"
