[tool.poetry]
name = "make_gtfs"
version = "2.3.0"
description = "A Python 3.8+ library to build GTFS feeds from basic route information."
authors = ["Alex Raichev <araichev@mrcagney.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.8, <4"
gtfs-kit = ">=5"
pandera = ">=0.11.0"

[tool.poetry.dev-dependencies]
pytest = ">=6.2.5"
jupyter = ">=1.0.0"
pre-commit = ">=2.15.0"
black = ">=22"
nbstripout = ">=0.5.0"

[build-system]
requires = ["poetry-core>=1"]
build-backend = "poetry.core.masonry.api"
